* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
section {
  padding: 5% 10%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 22px 12%;
  align-items: center;
  z-index: 1000;
}
.logo img {
  max-width: 100%;
  width: 120px;
}

.nav-menu {
  display: flex;
}
.nav-menu li {
  position: relative;
}

.nav-menu a {
  color: #212832;
  padding: 10px 25px;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.42s;
}
.nav-menu a::after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  background-color: #212832;
  bottom: -4px;
  left: 0;
  transition: all 0.42s;
}
.nav-menu a:hover::after {
  width: 100%;
}
.btn-icon {
  display: flex;
  align-items: center;
}
.nav-btn {
  font-size: 17px;
  border: 2px solid #212832;
  color: #212832;
  padding: 5px 15px;
  margin-right: 20px;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.42s;
}
.nav-btn:hover {
  color: #fff;
  background-color: #212832;
}

#menu-icon {
  color: #212832;
  font-size: 30px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/* home text css */

.home {
  background-image: url(images/background.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-text {
  transform: translate(50%, 0px);
}
.home-text h3 {
  color: orange;
  font-weight: 500;
  font-size: 20px;
}
.home-text h1 {
  font-size: 60px;
  font-weight: 600;
  font-family: Volkhov;
}

.find-btn {
  margin-top: 20px;
}

.find-btn a {
  font-size: 17px;
  /* border: 2px solid #212832; */
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  padding: 10px 15px;
  border-radius: 10px;
}
.find-btn a:hover {
  background-color: rgb(255, 128, 0);
  color: #000000;
  border: 0;
}

/* category section css */
.category {
  background-color: rgb(231, 228, 224);
}

.center-text {
  text-align: center;
  transform: translateY(50px);
}
.center-text h4 {
  font-size: 18px;
  font-weight: 600;
  color: #5e6282;
  line-height: 30px;
  text-transform: capitalize;
}
.center-text h2 {
  font-size: 50px;
  color: #14183e;
  font-family: "volkhov";
  text-transform: capitalize;
  margin-bottom: 80px;
  font-weight: 600;
}
.type {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
}

.row {
  padding: 10px 20px;
}
.row img {
  border-radius: 10px;
  width: 100%;
}
.row h6 {
  font-size: 15px;
  text-transform: capitalize;
}
.row:hover {
  transform: translateY(-8px);
}

/* destination section */

.main-dest {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  align-items: center;
  gap: 1rem;
}

.des-text h4 {
  font-size: 18px;
  font-weight: 600;
  color: #5e6282;
  line-height: 30px;
  text-transform: capitalize;
  text-align: center;
}
.des-text h2 {
  font-size: 50px;
  color: #14183e;
  font-family: "volkhov";
  text-transform: capitalize;
  margin-bottom: 80px;
  font-weight: 600;
  text-align: center;
}

.hov-img img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  transition: all 0.42s;
}

.box {
  position: relative;
}
.box .text-in {
  position: absolute;
  bottom: 35px;
  left: 20px;
}
.box .text-in h5 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
.box .text-in p {
  font-size: 10px;
  color: #ffffff;
  font-weight: 500;
}

.country-text h6 {
  color: #ffffff;
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 14px;
  font-weight: 500;
}
.hov-img {
  overflow: hidden;
}
.hov-img:hover {
  transform: scale(1);
  filter: brightness(50%);
}
/* testimonials css */

.testimonials {
  background-color: rgb(231, 228, 224);
}
.review {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.review-text img {
  width: 100px;
  height: auto;
  border-radius: 75px;
  margin: 10px 0;
}
.test-text h4 {
  font-size: 18px;
  font-weight: 600;
  color: #5e6282;
  line-height: 30px;
  text-transform: capitalize;
}
.test-text h2 {
  font-size: 50px;
  .review-text h4 {
  }
  color: #14183e;
  font-family: "volkhov";
  text-transform: capitalize;
  margin-bottom: 80px;
  font-weight: 600;
}

.review-text h4 {
  font-size: 14px;
  font-weight: 600;
  color: #5e6282;
  line-height: 30px;
  text-transform: capitalize;
}
.review-text p {
  font-size: 16px;
}

/* sponsers css */

.sponsers {
  padding-top: 100px;
  padding-bottom: 100px;
}

.sponser {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 3rem;
}

.sponser img:hover {
  transform: translateY(-5px);
}

/* footer css */
.contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}
.contact-info h6 {
  font-size: 15px;
  padding-bottom: 10px;
}

.contact-info p {
  font-size: 12px;
  font-weight: 600;
  color: #5e6282;
  padding: 10px 0;
  text-transform: capitalize;
  width: 50px;
}

.contact-info p:hover {
  color: orange;
}

.icon a {
  color: #000000;
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-flex;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 20px;
}
.icon a:hover {
  color: rgb(255, 255, 255);
  background-color: #000000;
}
.fourth-info h5 {
  font-size: 15px;
  padding-bottom: 10px;
  text-transform: capitalize;
}
.img-info img {
  width: 100px;
  height: auto;
}

@media (max-width: 600px) {
  header {
    padding: 10px 2%;
  }
  .nav-menu a {
    font-size: 9px;
    padding: 10px 15px;
  }

  .home-text h3 {
    font-size: 10px;
  }

  .home-text h1 {
    font-size: 30px;
  }
  .home-text {
    transform: translate(10%, 0px);
  }

  .home {
    background-size: 60cap;
  }

  .center-text h4 {
    font-size: 10px;
  }
  .center-text h2 {
    font-size: 30px;
  }

  .type {
    grid-template-columns: repeat(1, auto);
  }

  .des-text h4 {
    font-size: 10px;
  }
  .des-text h2 {
    font-size: 30px;
  }
  .test-text h4 {
    font-size: 10px;
  }
  .test-text h2 {
    font-size: 30px;
  }

  .contact-info h6 {
    padding-top: 15px;
  }

  .nav-btn {
    padding: 6px 4px;
    font-size: 10px;
    width: 50px;
    margin-top: -15px;
  }
}
